@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main{
    width: 600px;
}
.container{
    display: flex;
    width: 100%;
}

@keyframes virando {
    from {opacity: 0;}
    to {opacity: 1;}
}      

.lightblue{
    background-color:#1593c2;
    transform: perspective(300px) rotateY(18deg);
    width: 200px;
    width: 20%;
    height: 250px;
    opacity: 0;
}
.red{
    background-color: #d8051c;
    transform: perspective(500px) rotateY(20deg) translateY(15px);
    width: 20%;
    height: 220px;
    opacity: 0;

}
.yellow{
    background-color: #e9ca06;
    transform: translateY(18px);
    width: 20%;
    height: 211px;
    opacity: 0;

    animation-name: virando;
    animation-duration: 2s;
    animation-delay: .7s;
    animation-fill-mode: forwards;
}
.green{
    background-color: #27cd41;
    transform: perspective(500px) rotateY(-20deg) translateY(15px);
    width: 20%;
    height: 220px;
    opacity: 0;
}
.blue{
    background-color: #1593c2;
    transform: perspective(300px) rotateY(-18deg);
    width: 20%;
    height: 250px;
    opacity: 0;
}

.blue, .lightblue{ /*controla as animações*/
    animation-name: virando;
    animation-duration: 2s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.red, .green {  /*controla as animações*/
    animation-name: virando;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

h1{
    color: #878787;
    font-size: 6rem;
    text-align: center;
    font-weight: 100;
    opacity: 0;

    animation-name: virando;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
}