*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

section{
    margin: 0 auto;
    max-width: 1300px;
    font-size: 1.5rem;
    padding: 2rem;
}

.main__header, .footer{/*explicar que colocou esse nome porque podem ter outros headers no código*/
    background-color: rgb(196, 196, 196);
}

.main__header h1{
    text-align: center;
    font-weight: 900;
    color: red;
    font-size: 3rem;
    margin: 0 auto;
}

.main__section h2, .footer h2{
    color: blue;
    padding: 1rem 0;
}

.galery img{
    width: 30%;
}

.footer{
    display: flex;
    justify-content: space-around;
}